*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #E2E2E8;
}
@font-face{
    font-family: delius;
    src: url(./Delius-Regular.ttf);

    font-family: wildu;
    src: url(./WildWordsRoman.ttf);

}

@font-face{
    font-family: boo;
    src: url(./HelloBoomerang.ttf);
}

/*header*/
.container-firts{
    z-index: 500;
    height: 25%;
    background-color: #B0B7FB;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.container-second{
    height: 100%;
    display: flex;
}
.container-logo{
    display: flex;
    margin-left: 10%;
    margin-top: 2%;
}
.container-img-logo{
    width: 80%;
    position: relative;
}

.logoImg{
    width: 100%;
}
.name-logo{
    width: 20%;
    height: 20%;
    text-align: center;
    margin-left: 100px;
    margin-top: -60px;
    font-family: wildu;
    font-size: 2vw;
}
.name-logo1{
    width: 20%;
    height: 20%;
    text-align: center;
    margin-left: 100px;
    margin-top: 0px;
    font-family: wildu;
    font-size: 2vw;
}


.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
}

.navigation {   
    font-size: 1vw;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: boo;
    margin-right: 7%;
    margin-top: 5%;
}

.navigation .link-btn{
    display: inline;
    font-size: 3vw;
}

.navigation .select-link{
    display: block;
    padding: 0.5rem 1rem;
}

.navigation .link-btn:hover{
    background-color: cadetblue;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.logo1{   
    font-family: wildu;
    font-size: 3vw;
    letter-spacing: 2px;
}

.logoImg{
    width: 50%;
}
/*formularios*/
.containerLogin{
    z-index: 300;
    margin: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 50px;
    margin-left: 450px;
   visibility: hidden;
   overflow: hidden;
}
.containerRegister{
    z-index: 300;
    margin: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 30px;
    margin-left: 450px;
    visibility: hidden;
    overflow: hidden;
}
.containerLogin .active{
    visibility: visible;
}
.containerRegister .active{
    visibility: visible;
}

.formulario__label {
    font-size: 1vw;
    font-family: wildu;
	display: block;
	font-weight: 200;
    padding: -2px;
    margin-left: 3%;
    margin-top: 5%;
	cursor: pointer;
}


.formulario__grupo-input {
	position: relative;
}

.formulario__input-error {
    font-family: boo;
    font-size: 1vw;
    margin-top: -5%;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
    position: absolute;
    top: 30%;
	right: 30px;
	bottom: 15px;
	z-index: 100;
	font-size: 2vw;
	opacity: 0;
}
.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 20px 10px;
	border-radius: 3px;
	display: none;
}
.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}
.formulario__mensaje-exito {
    height: 45px;
	line-height: 45px;
	font-size: 1.5vw;
    color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}
.formulario__checkbox {
	margin-right: 50px;
}
.error{
    font-family: boo;
    font-size: 1.2vw;
    display: flex;
}
.form-box{
    border: 2px solid rgba(67, 3, 3, 1);
    width: 370px;
    height: 370px;
    position: relative;
    margin: 4% auto;
    background-color: rgba(176, 183, 251);
    padding: 2px;
    border-radius: 10px;
    overflow: hidden;
}
.form-box1{
    border: 2px solid rgba(67, 3, 3, 1);
    width: 370px;
    height: auto;
    position: relative;
    margin: 4% auto;
    background-color: rgba(176, 183, 251);
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}
.button-box{
    width: 110%;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 8px #B0B7FB;
}
.button-box-link{
    width: 100%;
    margin: 50px 850px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.toggle-btn{
    padding: 5px 35px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
    font-family: wildu;
    font-size: 1.5vw;

}
.link-btn{
    padding: 5px 15px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
    font-family: boo;
    font-size: 5vw;
}
.link-btn:hover{
    background-color: cadetblue;
    transition: all 0.4s linear;
    border-radius: 5px;
}
#select{
    top: 0;
    left: 0;
    position: flex;
    width: 185px;
    height: 100%;
}
.redes-sociales{
    margin: 220px auto;
    text-align: center;
}
.redes-sociales img{
    width: 10%;
    margin: 0 12px;
    box-shadow: 0 0 20px 9px #B0B7FB;
    cursor: pointer;
}
.input-group{
    top: 80px;
    left: 20px;
    position: absolute;
    width: 100%;
}
.input-field{
    width: 90%;
    padding: 10px 0;
    margin: 20px 0;
    font-family: boo;
    margin-left: 3%;
    font-size: 1vw;
}
.input-field1{
    width: 90%;
    padding: 10px 0;
    margin: 5px 0;
    font-family: boo;
}
.input-field :focus{
    border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.submit-btn1{
    width: 60%;
    padding: 5px 30px;
    cursor: pointer;
    display: block;
    right: 30%;
    margin: 10px 50px;
    background:rgba(123, 112, 159, 1);
    font-family: boo;
    font-size: 1.5vw;
}
.submit-btn{
    width: 70%;
    padding: 5px 30px;
    cursor: pointer;
    display: block;
    margin: 50px auto;
    background:rgba(123, 112, 159, 1);
    font-family: boo;
    font-size: 2vw;
}
.check-box2{
    margin: 5px 5px 30px 0;
}
.check-box{
    margin: 35px 5px 30px 0;
}
.box-check{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 50px 0px 0px;
    cursor: pointer;
}
.input-check{
    margin: auto 20px;
    font-family: boo;
}
.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}
span{
    font-family: boo;
    position: absolute;
    cursor: pointer;
    width: 50%;
    height: 50px;
}
.access{
    margin-top: 45%;
    margin-left: 35%;
    width: 100%;
    cursor: pointer;
}
.access-1{
    margin-top: 65%;
    margin-left: 25%;
    width: 100%;
    cursor: pointer;
}

.close-login{
    position: absolute;
    margin-left: 90%;
    margin-top: 3%;
    color: black;
    transition: 0.1s ease all;
}
/* estilos validacion*/
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .input-field {
	border: 3px solid #bb2929;
}

/*main*/
.container1{
    width: 700%;
    max-width: 1000px;
    overflow: hidden;
    margin: 200px auto 20px;
    position: relative;
}

.img{
    top: 150px;
    margin: 50px 0;
    width: 100%;
    border-radius: 5px;
    
}
.corazon{
    width: 20%;
    margin-left: 40%;
}
 h1{
     font-family: boo;
     margin-left: 25%;
     font-size: 4vw;
 }

 h2{
     font-family: delius;
     font-size: 2vw;
 }
/*pagina centro*/
 .usuario{
     width: 10%;
     margin-left: 10%;
     margin-top: 10%;
 }
h3{
    font-family: boo;
    font-size: 2vw;
    color: #430303;
    margin-left: 7%;
    margin-top: -1%;
}

p{
    font-family: delius;
    font-size: 1.5vw;
    margin-left: 2%;
    
}

.libro{
    width: 10%;
    margin-left: 25%;
    margin-top:-1000%;
}

.h5{
    font-family: boo;
    font-size: 2vw;
    color: #430303;
    margin-left: 42%;
    margin-top: -8%;
}

.p1{
    font-family: delius;
    font-size: 1.5vw;
    margin-left:40%;
   display: block;
}


.telefono{
    width: 10%;
    margin-left: 25%;
}

.h6{
    font-family: boo;
    font-size: 2vw;
    color: #430303;
    margin-left: 80%;
    margin-top: -6%;
}

p2{
    font-family: delius;
    font-size: 1.5vw;
    margin-left: 75%;
    display: block;
}


.lupa{
    width: 10%;
    margin-left: 45%;
    margin-top:10%;
}

.h7{
    font-family: boo;
    font-size: 2vw;
    color: #430303;
    margin-left: 40%;
    margin-top: 1%;
    font-weight: bold;
}
.p3{
        font-family: delius;
        font-size: 1.5vw;
        margin-left:37%;
       display: block;
}

/*gifs*/
.gif1{
    width: 27%;
   max-height: 300px;
    border: solid #430303;
    margin-left: 5%;
    margin-top: 10%;
}

.gif2{
    width: 27%;
    max-height: 500px;
    border: solid #430303;
    margin-left: 4%;
    margin-top: 10%;
}

.gif3{
    width: 26%;
    max-height: 500px;
    border: solid #430303;
    margin-left: 4%;
    margin-top: 10%;
    
    
}

.imageGif{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10%;
}

/*footer*/
footer{
    position: relative;
    width: 100%;
    margin-top: 100px;
    background-color: #B0B7FB;
}
.footer{
    width: 100%;
    height: 200px;
    margin: auto;
}
 
.container-fila{
    font-family: boo;
    font-size: 3vw;
    text-align: center;
   padding: 3%;
   
}
.h3{
    font-size: 3vw;
    margin-left: -2%;
}
/*Responsive*/
@media (max-width: 500px) {
    .name-logo{
        font-size: 4vw;
    }
    .name-logo1{
        font-size: 4vw;
    }
    .container-firts{
        height: 30%;
    }
    .navigation .link-btn{
        margin-left: 5rem;
        display: inline; 
        font-size: 5vw;
      
    }
    .navigation{
        width: 100%;
        margin-top:2rem ;
    }
    .navigation .select-link{
    padding: 2rem 0;
   
    }

    .navigation .link-btn:hover{
        width: 25%;
    
    }
    .button-box{
        right: 4%;
        top: 1%;
    }
    .container1{
        margin:200px auto 10px;
        width: 80%;   
        position: relative;
    }
     .containerLogin{
         margin-top: 20%;
         width: 80%;
         right: 10%;
     }
    .containerRegister{
        margin-top: 20%;
        width: 80%;
      right: 9.5%;
    }
    .input-group{
        margin-top: 1%;
    }
    .input-field1{
        margin-left: -4%;
    }
    .submit-btn1{
        font-size: 4vw;
        margin-left: 10%;
    }
    .access{
        top: 35%;
        margin-left: 30%;
    }
    .redes-sociales{
        margin-top: 85%;
    }
    .access-1{
        margin-top: 90%;
        margin-left: 15%;
    }
    .formulario__label{
        font-size: 4vw;
    }

    .input-field{
        font-size: 4vw;
    }
    .toggle-btn{
        font-size: 3vw;
        margin-left: 6%;
    }
    .formulario__mensaje{
        height: 10%;
    }
    .form-box1{
        width: 100%;
    }
   .fa-exclamation-triangle{
       margin-top: 5%;
       font-size: 5vw;
   }

   .error{
       font-size: 4vw;
   }
    
    .corazon{
        margin-top: -20%
    }
    .input-check{
        font-size:3vw;
     
    }
    .box-check{
        margin-left: 15%;
        transform: scale(1.5);
    }
    .close-login{
        margin-top: 2%;
        margin-left: 90%;
    }

   .formulario__validacion-estado {
    top: 38%;
	font-size: 5vw;
}

.formulario__mensaje-exito{
    font-size: 4vw;
}

.formulario__input-error{
    font-size: 4vw;
}
.submit-btn{
    font-size: 4vw;
}
    h1{
        font-size: 6vw;
        margin-left: 13%;
    }
    h2{
        font-size: 4vw;
    }
   .contenedor2{
       margin-top: 10%;
   }

   .usuario{
       width: 30%;
       margin-left: 35%;
   }
    
   .hL{
    font-size: 6vw;
    margin-left: 25%;
    margin-top:-100%;
}

.p{
    font-size: 3.5vw;
    margin-left: 25%;
    margin-top:1%;
}
   .libro{
       width: 30%;
       margin-left: 35%;
       margin-top: 10%;
   }
   .h5{
    font-size: 6vw;
    margin-left: 25%;
    margin-top: 23%;
}

.p1{
    font-size: 3.5vw;
    margin-left:30%;
}
   .telefono{
       width: 30%;
       margin-left: 35%;
       margin-top: 20%;
   }
   
   .h6{
    font-size: 6vw;
    margin-left: 25%;
    margin-top: 40%;
}

p2{
    font-size: 3.5vw;
    margin-left: 23%;
}
   .lupa{
       width: 30%;
       margin-left: 35%;
       margin-top: 10%;
   }
   .h7{
       font-size: 6vw;
       margin-left: 10%;
   }
   .p3{
    font-size: 3.5vw;
    margin-left:10%;
}
   .gif1{
       width: 80%;
       margin-left: 10%;
   }

   .gif2{
    width: 80%;
    margin-left: 10%;
   }

   .gif3{
    width: 80%;
    margin-left: 10%;
   }

   .footer{
      height: 300px;
   }

   .container-fila{
       padding: 20%;
   }
   p1{
       display: block;
   }
   
   p2{
       display: block;
   }

   p4{
    font-size: 5vw;
    padding-bottom:125px;;
}
 p5{
    font-size: 5vw;
 }
    
}
@media (min-width: 501px) and (max-width: 900px){
    .container-firts{
        height: 25%;
    }
    .navigation .link-btn{
        margin-left: 1rem;
        display: inline; 
        font-size: 3vw;
    }
    .navigation{
        width: 100%;
        margin-top:-1rem ;
        margin-left: 60%;
    }
    .navigation .select-link{
    padding: 1rem 0;
   
    }


    .navigation .link-btn:hover{
        width: 50%;
    
    }
 .container1{
        margin:250px auto;
        width: 70%;  
        position: relative;
    }

    .containerRegister{
        right: 16%;
        
    }
     .button-box{
        right: 10%;
     }
     .input-field1{
         font-size: 2vw;
     }
     .submit-btn1{
         font-size: 3vw;
     }
    .containerLogin{
        right: 25%;
    }
    .form-box1{
        width: 500px;
        height: auto;
    }

    .formulario__label{
        font-size: 3vw;
    }

    .toggle-btn{
        font-size: 2.5vw;
    }

    .button-box{
        margin-left: 15%;
    }

    .input-field{
        font-size: 4vw;
    }

    .formulario__validacion-estado {
        top: 35%;
        font-size: 4vw;
    }
    .formulario__input-error{
        font-size: 3vw;
    }
    .box-check{
        transform: scale(1.5);
        margin-left: 15%;
    }
   .submit-btn{
       font-size: 3vw;
   }
    .img{
        width: 100%;
    }
    .corazon{
        margin-top: 5%
    }

    h1{
        font-size: 6vw;
        margin-left: 13%;
    }
    h2{
        font-size: 4vw;
    }
    .usuario{
        margin-top: -20%;
        width: 30%;
        margin-left: 35%;
    }
    
    .hL{
        font-size: 6vw;
        margin-left: 25%;
        margin-top:-96%;
    }

    
.p{
    font-size: 3.5vw;
    margin-left: 25%;
    margin-top:-2.5%;
}
    .libro{
        width: 30%;
        margin-left: 35%;
        margin-top: 10%;
    }

    .h5{
        font-size: 6vw;
        margin-left: 25%;
        margin-top: 23%;
    }
    
    .p1{
        font-size: 3.5vw;
        margin-left:30%;
    }

    .telefono{
        width: 30%;
        margin-left: 35%;
        margin-top: 20%;
    }

    .h6{
        font-size: 6vw;
        margin-left: 25%;
        margin-top: 40%;
    }
    
    p2{
        font-size: 3.5vw;
        margin-left: 23%;
    }
    .lupa{
        width: 30%;
        margin-left: 35%;
        margin-top: 10%;
    }

    .h7{
        font-size: 6vw;
        margin-left: 10%;
    }
    .p3{
     font-size: 3.5vw;
     margin-left:10%;
 }

 .gif1{
    width: 80%;
    margin-left: 10%;
}

.gif2{
 width: 80%;
 margin-left: 10%;
}

.gif3{
 width: 80%;
 margin-left: 10%;
}
}

@media (min-width: 901px) and (max-width: 1200px){
    .formulario__label{
        font-size: 2vw;
    }
    .input-field{
        font-size: 1.5vw;
    }
    .formulario__input-error{
        font-size: 1.5vw;
    }
    .containerRegister{
        right: 25%;
    }
    .form-box1{
        width: 500px;
        height: auto;
    }
    .container1{
        margin:150px auto;
            width: 80%;  
            border-radius: 30px;
            position: relative;
    }

  .error{
      font-size: 2vw;
  } 
  .fa-exclamation-triangle{
      margin-top: 2%;
  }
  .formulario__mensaje-exito{
      font-size: 2vw;
  }
    .corazon{
        margin-top: 1%
    }
    
    h1{
        font-size: 6vw;
        margin-left: 13%;
    }
    h2{
        font-size: 4vw;
    }
    .usuario{
        margin-top: -20%;
        width: 30%;
        margin-left: 35%;
    }
    
    .hL{
        font-size: 6vw;
        margin-left: 25%;
        margin-top:-96%;
    }

    
.p{
    font-size: 3.5vw;
    margin-left: 25%;
    margin-top:-2.5%;
}
    .libro{
        width: 30%;
        margin-left: 35%;
        margin-top: 10%;
    }

    .h5{
        font-size: 6vw;
        margin-left: 25%;
        margin-top: 23%;
    }
    
    .p1{
        font-size: 3.5vw;
        margin-left:30%;
    }

    .telefono{
        width: 30%;
        margin-left: 35%;
        margin-top: 20%;
    }

    .h6{
        font-size: 6vw;
        margin-left: 25%;
        margin-top: 40%;
    }
    
    p2{
        font-size: 3.5vw;
        margin-left: 23%;
    }
    .lupa{
        width: 30%;
        margin-left: 35%;
        margin-top: 10%;
    }

    .h7{
        font-size: 6vw;
        margin-left: 10%;
    }
    .p3{
     font-size: 3.5vw;
     margin-left:10%;
 }

 .gif1{
    width: 80%;
    margin-left: 10%;
}

.gif2{
 width: 80%;
 margin-left: 10%;
}

.gif3{
 width: 80%;
 margin-left: 10%;
}
}